<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Promotion Engine</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Promotion Engine</h1>                
            </hgroup>            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Promotion Engine - Cost Calculator</h3>
        <form>
            <label for="SkuIds">Enter the SKU Ids (eg:- A,B,C,D ...):</label>
            <input type="text" id="SkuIds" name ="SkuIds" placeholder="Enter the SKU Ids"/>
            <button type="button"> Calculate Cost</button>

        </form>
    </section>
</div>
